@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.z-index {
  z-index: 99999;
}

.main-height {
  height: 100%;
}

.input-box {
  position: absolute;
  left: 50%;
  transform: translateX(75%);
  width: 100px;
}

.font-weight-bolder {
  font-weight: 800 !important;
}

.h6,
h6 {
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 1150px) {
  .h3,
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 995px) {
  .h3,
  h3 {
    font-size: 1.4rem;
  }

  .main-height {
    height: unset;
  }

  .input-box {
    width: 80px;
  }
}

.letter-spacing {
  letter-spacing: 2px;
}

.small-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  color: #fff;
}

.line-box {
  height: 1.6px;
  width: 170px;
  display: flex;
  justify-content: center;
  background-color: #1de693;
  margin: 0 auto;
}

.line-box > span {
  height: 7.5px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  margin-top: -3px;
}

.line-box-2 {
  display: flex;
  height: 3.5px;
  width: 20px;
  background: rgb(160, 155, 241);
  background: linear-gradient(
    90deg,
    rgba(160, 155, 241, 1) 0%,
    rgba(88, 88, 204, 1) 50%,
    rgba(0, 136, 164, 1) 100%
  );
  border-radius: 50px;
}

.line-border {
  position: absolute;
  left: 9px;
  height: 16px;
  width: 1.5px;
  background-color: #ddd;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: #676464;
  border-radius: 50px;
  display: flex;
}

.rounded-lg-big {
  border-radius: 1.25rem !important;
}

.rounded-lg-very-big {
  border-radius: 5.25rem !important;
}

.rounded-left-very-big {
  border-top-left-radius: 5.25rem !important;
  border-bottom-left-radius: 5.25rem !important;
}

.rounded-top-big {
  border-top-left-radius: 3.25rem !important;
  border-top-right-radius: 3.25rem !important;
}

.rounded-bottom-big-sm {
  border-bottom-right-radius: 1.25rem !important;
  border-bottom-left-radius: 1.25rem !important;
}

@media only screen and (max-width: 575px) {
  .rounded-lg-very-big {
    border-radius: unset !important;
  }
}

.border-bottom-dotted {
  border-bottom-style: dotted !important;
}

.small-input {
  width: 55px;
}

/* Custom Drop Down */

.custom-dp-container {
  width: 180px;
}

.custom-dp-toggle {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50px;
  padding: 0.15rem;
  position: relative;
  z-index: 9999;
}

.custom-dp-menu a {
  color: rgba(255, 255, 255, 0.5) !important;
}

.chest-game-border-left {
  border-left: 3px solid #a2755b;
  border-top-left-radius: 2.25rem;
  border-bottom-left-radius: 2.25rem;
}

.chest-game-border-bottom {
  border-bottom: 3px solid #a2755b;
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
}

.chest-game-border-right {
  border-right: 3px solid #a2755b;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
}

/* Replaces CSS */

.bg-light-2 {
  background-color: #e6e6e6 !important;
}

.bg-green-1 {
  background-color: #1de667;
}

.bg-primary-3 {
  background: rgb(160, 155, 241);
  background: linear-gradient(
    150deg,
    rgba(160, 155, 241, 1) 10%,
    rgba(88, 88, 204, 1) 80%,
    rgba(0, 136, 164, 1) 10%
  );
}

button:focus {
  outline: unset !important;
}

a {
  transition: all 0.3s ease-in;
  color: rgb(83, 83, 83) !important;
}

a.active,
a:focus {
  font-weight: 600;
  color: #00ff95 !important;
}

a:hover {
  opacity: 0.8;
  color: #0baf6b !important;
  text-decoration: none !important;
}

.text-success {
  color: #1de693 !important;
}

.btn-link {
  color: #1de693 !important;
}

.btn-link:focus {
  box-shadow: unset !important;
  opacity: 0.7;
}

.btn-danger-2 {
  color: #fff;
  background-color: rgb(231, 100, 100);
  border-color: rgb(231, 100, 100);
}

.btn-danger-2:hover {
  color: #fff;
  opacity: 0.8;
}

.btn-success {
  color: #fff !important;
  background-color: #1de693;
  border-color: #01d67d;
  box-shadow: 0 0.3rem 0.5rem 0.1rem rgb(1 214 125 / 40%);
}

.btn-success:hover {
  color: #fff !important;
  background-color: #43d095;
  border-color: #43d095;
}

.btn-success:focus {
  background-color: #3eb684;
  border-color: #2fa574;
  box-shadow: 0 0.3rem 0.7rem 0.1rem rgb(1 214 125 / 50%);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #0baf6b;
  border-color: #0baf6b;
}

.btn-secondary {
  color: #fff !important;
  box-shadow: 0 0.3rem 0.5rem 0.1rem rgb(0 0 0 / 40%);
}

.btn-secondary:hover {
  color: #fff !important;
}

.btn-secondary:focus {
  box-shadow: 0 0.3rem 0.5rem 0.1rem rgb(0 0 0 / 50%);
}

.btn-outline-success {
  color: rgb(186, 183, 183);
  border-color: rgb(186, 183, 183);
}

.input-group-text {
  transition: all 0.5s ease;
  border-radius: 0.5rem;
}

.input-group-text:focus {
  background-color: #fff;
  outline: 0;
}
